@media screen and (max-width:576px) {
    .head{
        max-width: 350px;
        flex-direction: column;
    }
    .menu a{
        padding: 4px 9px;
    }
    .header_content {
        margin: 40px 0 0 0;
    }
    
h1 { 

    font-size: 22px;
    line-height: 28px;
    max-width: 95%; 
}
.header_content button,form button,.portfolio button {
    margin: 10px auto;
    font-size: 14px;
    line-height: 23px;
    padding: 10px 40px;
}
.header {
    padding-top: 20px;
    padding-bottom: 50px;
}
.title h2 {
    font-size: 18px;
    line-height: 38px;
}
.title p {
    font-size: 12px;
    line-height: 21px;
}
.services {
    padding-top: 40px;
    padding-bottom: 55px;
}
.list_services{
margin: 20px auto 0;
}
.service div {
    height: 140px;
}
.service h4 {
    font-size: 17px;
    line-height: 30px;
}
.service p {
    font-size: 12px;
    line-height: 20px;
}
.meet {
    background: #E7F1F8;
    padding: 40px 0 55px;
}
.dev .name,.skill .name{
    font-size: 17px;
    line-height: 30px;
}
.dev .prof{
    font-size: 14px;
    line-height: 22px;
}
.dev p {
    font-size: 12px;
    line-height: 20px;
}
.skills {
    padding-top: 40px;
    padding-bottom: 55px;
}
.portfolio,.touch,.people {
    padding: 40px 0;
}
.work h5 {
    font-size: 14px;
    line-height: 22px;
}
.work li{
    max-width: 40%;
}
.user p{
    font-size: 15px;
    line-height: 26px;
}
.user h4{
    font-size: 18px;
    line-height: 31px;
    margin-top: 10px;
}
.user span{
    font-size: 12px;
    line-height: 15px;
}
input, input::placeholder, textarea, textarea::placeholder{
    font-size: 14px;
    line-height: 23px;
}
footer a{
    font-size: 18px;
    line-height: 31px;
}
}
